# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
dist/
.venv/
venv/
.env
*.sqlite3

# Testing
.pytest_cache/
.coverage
.htmlcov/
.mypy_cache/
.ruff_cache/


# Misc
.DS_Store
asyncpg-0.27.0-cp311-cp311-macosx_11_0_arm64.whl
